Source: stream-radio
Section: sound
Priority: optional
Maintainer: Milan Chrobok <mc@radiopiloten.de>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://launchpad.net/~mc-1/+archive/stream-radio

Package: stream-radio
Architecture: any
Depends: ${misc:Depends}, quelcom
Description: service to record an audio stream, write it to disk and send it to an icecast server

