
[Unit]
Description=stream radio liquidsoap
After=network.target

[Service]
Restart=always
RestartSec=1s
StartLimitInterval=0

User=audiostream
Group=audiostream

PermissionsStartOnly=true

ExecStartPre=/bin/prepare-stream-radio.sh >>/var/log/stream-radio/radio.log 2>&1
ExecStart=/bin/sh -c 'liquidsoap /etc/stream-radio/start.conf >>/var/log/stream-radio/radio.log 2>&1'
ExecReload=/bin/kill -HUP $(cat /var/run/stream-radio/stream-radio.pid) >>/var/log/stream-radio/radio.log 2>&1

[Install]
WantedBy=multi-user.target

